<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SturdyURL-Shortner</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
    td { word-wrap: break-word;max-width:50px; }            
    </style>
    
<body>


      
    <div class="container">
        <h1>SturdyURL-Shortner</h1>


    <form action="/shortenurl" method="POST" class="form-inline my-4">

    <input type="text" name="long" placeholder="Enter Long URL" class="form-control col mr-2">
    <input type="submit" value="Shorten" class="btn-success center">
    </form>
    <h2>Your Created Urls</h2>
    <div class="container-fluid">

    <table class="table table-striped">
        <thead>
        <tr class="d-flex">
            <th >Long URL</th>
            <th>Short URL</th>
            <th>No of Clicks</th>
        </tr>
        </thead>
        <tbody>
            <% result.forEach(shurl=>{ %>
        <tr class="d-flex">
            <td><a href="<%= shurl.long %>" target="_blank"><%= shurl.long %></a></td>
            <td><a href="/<%= shurl.short %>" target="_blank"><%= shurl.short %></a></td>
            <td><%= shurl.clicks %></td>
        </tr>
        <% }) %>
        </tbody>
    </table>
</div>
    </div>
</body>
</html>